{% extends "base.html" %}

{% block content %}
    <h1>注册</h1>
    <form method="post">
        <label for="username">用户名</label>
        <input type="text" name="username" placeholder="真实姓名，否者无法通过审核" required>
        <label for="password">密码</label>
        <input type="password" name="password" required>
        <button type="submit">注册</button>
    </form>

    {% set flashed = get_flashed_messages(with_categories=true) %}

    {% set ns = namespace(show_login=false) %}
    {% for category, message in flashed %}
        <p class="{{ category }}">{{ message }}</p>
        {% if category == 'success' %}
            {% set ns.show_login = true %}
        {% endif %}
    {% endfor %}

    {% if ns.show_login %}
        <p>已有账号？<a href="{{ url_for('auth.login') }}">点击登录</a></p>
    {% endif %}

{% endblock %}