{% extends 'base.html' %}

{% block head %}
        {{ super() }}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
        <div>
                <div class="vehicle-title">
                    <p>车牌</p>
                    <p>状态</p>
                </div>
                {% for vehicle in vehicles %}
                    <div class="vehicle-content" data-vehicle-id="{{ vehicle['id'] }}">
                        <p id="plate">{{ vehicle['plate'] }}</p>
                        <p id="status">{{ vehicle['status'] }}</p>
                    </div>
                {% endfor %}
        </div>

        <a href="{{ url_for('add_vehicle') }}">添加汽车</a>

        <!-- mileage feature removed: vehicles no longer store mileage -->
{% endblock %}
